body { 
	margin: 0; 
}

canvas { 
	display: block; 
}

/*@font-face { 
	font-family: ArchivoBlack; 
	src: url('../jlioanag.github.io/assets/ArchivoBlack-Regular.ttf'); 
}*/

a { 
	color: inherit; 
	text-decoration: none;
} 

table {
	table-layout: fixed;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#title {
	color: white;
	top: 24px;
	font-size: 64px;
	font-family: "Open Sans", Helvetica, sans-serif;
	position: absolute;
	top: 1px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;

	
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}

#headers {
	color: white;
	font-size: 40px;
	font-family: Minecraft;
	position: absolute;
	top: 150px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}