/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --font-sans: "Courier Prime";
}

@theme {
  --color-brown-50: oklch(97% 0.03 85);
  --color-brown-100: oklch(95% 0.03 85);
  --color-brown-200: oklch(90% 0.07 85);
  --color-brown-300: oklch(85% 0.09 85);
  --color-brown-400: oklch(80% 0.08 85);
  /* border */
  --color-brown-500: oklch(50% 0.1 35);
  /* muted text */
  --color-brown-600: oklch(45% 0.1 35);
  /* medium text */
  --color-brown-700: oklch(30% 0.1 35);
  /* primary text */
}

@layer components {
  .group:hover .marquee-text {
    animation: marquee 8s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

html {
  color: var(--color-brown-700);
  background-color: var(--color-brown-50);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-brown-700);
}

hr {
  border-color: var(--color-brown-400);
}

ul li::marker {
  color: var(--color-brown-500);
}

ol li::marker {
  color: var(--color-brown-500);
}

s,
del,
strike {
  color: var(--color-brown-500);
  text-decoration-color: var(--color-brown-500);
}

p,
ul,
ol,
li {
  color: var(--color-brown-600);
}

a {
  color: var(--color-brown-500);
  text-decoration: none;
}

a:hover {
  color: var(--color-brown-700);
  text-decoration: none;
}

button {
  background-color: var(--color-brown-400);
  color: var(--color-brown-50);
  border: 1px solid var(--color-brown-400);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

input,
textarea {
  border: 1px solid var(--color-brown-400);
  background-color: var(--color-brown-50);
  color: var(--color-brown-600);
  padding: 0.5rem;
  border-radius: 0.25rem;
}
