---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import Link from "@components/Link.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>julian's website</title>
  </head>
  <body class="in-h-screen">
    <Navbar />
    <div class="grid grid-cols-12 mx-auto text-left lg:px-50 px-5 py-15 gap-5">
      <p
        class="col-span-12 border border-brown-400 p-5 w-full sm:text-2xl text-sm"
      >
        Full stack developer currently working with React and <Link
          nav="https://backstage.io/"
          text="Backstage.io"
        />. Graduated from Rensselaer Polytechnic Institute with M.S. in ITWS<sup
          >(2023)</sup
        > and B.S. in Computer Science<sup>(2022)</sup>. Hobbies include: music, coffee, backpacking,
        indoor bouldering, photography, and TCGs.
      </p>

      <div
        class="border border-brown-400 xl:col-span-4 col-span-12 p-5 w-full sm:text-xl text-sm"
      >
        <p class="text-brown-700!">UBS</p>
        <i class="sm:text-lg text-xs">Software Engineer</i>
        <p class="text-brown-500! sm:text-lg text-xs">2023 to present</p>
      </div>
      <div
        class="border border-brown-400 xl:col-span-4 col-span-12 p-5 w-full sm:text-xl text-sm"
      >
        <p class="text-brown-700!">United Airlines</p>
        <i class="sm:text-lg text-xs">Stats & Ops Intern</i>
        <p class="text-brown-500! sm:text-lg text-xs">2022</p>
      </div>
      <div
        class="border border-brown-400 xl:col-span-4 col-span-12 p-5 w-full sm:text-xl text-sm"
      >
        <p class="text-brown-700!">The Cigna Group</p>
        <i class="sm:text-lg text-xs">Software Engineer Intern</i>
        <p class="text-brown-500! sm:text-lg text-xs">2021</p>
      </div>
    </div>
  </body>
</html>
