---
import "@/styles/global.css";
import PostList from "@/components/PostList.astro";
import Navbar from "@/components/Navbar.astro";
import { Image } from 'astro:assets';
import barley from '@/assets/barley.jpg';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
      <Navbar />
      <div class="grid mx-auto max-w">
        test
      </div>
    <!-- <Image src={barley} class="mx-auto rounded-3xl scale-20" alt="my cat"/> -->
  </body>
</html>
