---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import Link from "@components/Link.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
      <Navbar />
      <div class="grid md:grid-cols-2 grid-cols-1 px-4 md:px-25 py-10 mx-auto gap-y-12 text-left text-md">
        <div>bio</div>
        <p>Full stack developer currently working with React and Backstage.io using TypeScript. Graduated from Rensselaer Polytechnic Institute with M.S. in ITWS<sup>2023</sup> and B.S. in Computer Science<sup>2022</sup>. Hobbies include - music, bouldering, photography, and One Piece TCG.</p>

        <div>work experience</div>
        <ul class="text-sm">
          <li>UBS - Software Engineer<sup>2023-present</sup></li>
          <li>United Airlines - Stats & Ops. Research Intern<sup>2022</sup></li>
          <li>The Cigna Group - Software Engineer Intern<sup>2021</sup></li>
        </ul>
      </div>
    <!-- <Image src={barley} class="mx-auto rounded-3xl scale-20" alt="my cat"/> -->
  </body>
</html>
