---
import "@/styles/global.css";
import PostList from "@/components/PostList.astro";
import Navbar from "@/components/Navbar.astro";
import { Image } from 'astro:assets';
import barley from '@/assets/barley.jpg';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="text-center bg-grey-100">
      <Navbar />
      <p class="pt-10">coding, music, photos, and tcgs</p>
      <a href="/blog" class="text-blue-600">view my blog</a>
    </div>
    <Image src={barley} class="mx-auto rounded-3xl scale-50" alt="my cat"/>
  </body>
</html>
