---
import "@/styles/global.css";
import PostList from "@/components/PostList.astro";
import Navbar from "@/components/Navbar.astro";
import { Image } from 'astro:assets';
import barley from '@/assets/barley.jpg';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
      <Navbar />
      <div class="grid grid-cols-2 px-25">
        <div class="text-left">
          about
        </div>
        <div class="text-left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    <!-- <Image src={barley} class="mx-auto rounded-3xl scale-20" alt="my cat"/> -->
  </body>
</html>
