---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@components/Footer.astro";
import Link from "@components/Link.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
      <Navbar />
      <div class="grid md:grid-cols-3 grid-cols-1 px-4 md:px-50 py-10 mx-auto gap-y-12 text-left text-md md:gap-x-8">
        <div class="md:text-right underline underline-offset-4">bio</div>
        <p class="col-span-2">Full stack developer currently working with React and <Link nav="https://backstage.io/" text="Backstage.io"/>; coding in TypeScript. Graduated from Rensselaer Polytechnic Institute with M.S. in ITWS<sup>2023</sup> and B.S. in Computer Science<sup>2022</sup>. Hobbies include - music, bouldering, photography, and One Piece TCG.</p>

        <div class="md:text-right underline underline-offset-4">work experience</div>
        <ul class="col-span-2">
          <li>UBS - Software Engineer</li>
          <li class="text-purple-600 text-sm pb-2">2023 to present</li>
          <li>United Airlines - Stats & Ops. Research Intern</li>
          <li class="text-purple-600 text-sm pb-2">2022</li>
          <li>The Cigna Group - Software Engineer Intern</li>
          <li class="text-purple-600 text-sm">2021</li>
        </ul>
      </div>
    <!-- <Image src={barley} class="mx-auto rounded-3xl scale-20" alt="my cat"/> -->
    <Footer />
  </body>
</html>
