---
---

<footer class="container px-5 bg-gray-300 transition-colors duration-500 hover:bg-green-300 p-2 min-w-screen flex justify-between fixed bottom-0">
    <div>&#128231; julianlioanag(@)gmail(.)com</div>
    <div> ~ made with &#x2615;</div>
</footer>