---
import { Icon } from "astro-icon/components";
const links = [
    {
        href: "/",
        icon: "tabler:home-filled",
    },
    {
        href: "/blog",
        icon: "tabler:bubble-text-filled",
    },
    {
        href: "https://github.com/jlioanag",
        icon: "tabler:brand-github-filled",
    },
    {
        href: "https://linkedin.com/in/jlioanag",
        icon: "tabler:brand-linkedin-filled",
    }
];
---

<nav class="bg-gray-200 px-4 py-4">
    <div class="mx-auto flex items-center">
        <div class="sm:text-lg md:text-xl font-bold pr-5">julian lioanag</div>
        <div class="flex">
            {
                links.map((link) => (
                    <a href={link.href} class="mx-2 pr-1 flex">
                        <Icon name={link.icon} class="size-5" />
                    </a>
                ))
            }
        </div>
    </div>
</nav>
