---
import LiveHeader from "./LiveHeader.astro";

const links = [
    {
        href: "/",
        title: "home",
    },
    {
        href: "/blog",
        title: "blog",
    },
    {
        href: "https://github.com/jlioanag",
        title: "github",
    },
    {
        href: "https://linkedin.com/in/jlioanag",
        title: "linkedin",
    },
];
---

<nav class="z-50 flex justify-between items-center mx-auto px-5 pt-5">
    <div class="flex text-gray-500">julian lioanag</div>
    <div class="flex">
        {
            links.map((link) => (
                <div class="mx-1 px-1 transition ease-in-out duration-200">
                    <a href={link.href} class="mx-1 flex navbar-item">
                        {link.title}
                    </a>
                </div>
            ))
        }
    </div>
</nav>
