---
import PostCard from "./PostCard.astro";

const posts = Object.values(import.meta.glob('@/pages/posts/*.mdx', { eager: true }));
---
<div class="mt-25 px-10 xl:px-25 2xl:px-50 mx-auto grid grid-cols-1 lg:gap-x-20 gap-x-4 gap-y-max  sm:pt-2 lg:grid-cols-2 xl:grid-cols-3 place-items-center">
    {posts
      .sort((a: any, b: any) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
      .map((post: any) => (
        <PostCard post={post} />
      ))
    }
</div>