---
import PostCard from "./PostCard.astro";

const posts = Object.values(import.meta.glob('@/pages/posts/*.mdx', { eager: true }));
---
<div class="mx-auto grid grid-cols-1 gap-x-4 gap-y-max pt-10 sm:pt-2 xl:grid-cols-3 px-50 place-items-center">
    {posts
      .sort((a: any, b: any) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
      .map((post: any) => (
        <PostCard post={post} />
      ))
    }
</div>