---
import PostCard from "./PostCard.astro";

const posts = Object.values(import.meta.glob('@/pages/posts/*.mdx', { eager: true }));
---
  <div class="mx-auto grid max-w sm:grid-cols-1 gap-x-1 gap-y-1 pt-10 sm:pt-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:px-25 p-4">
      {posts
        .sort((a: any, b: any) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
        .map((post: any) => (
          <PostCard post={post} />
        ))
      }
  </div>
</div>