// @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');

@font-face {
    font-family: 'Neue Metana Next';
    src: local('Neue Metana Next'), url(./assets/NeueMetanaNext-SemiBold.otf) format('opentype');
}

body {
    font-family: 'Neue Metana Next';
    color: black;
    // align-items: center;
    // justify-content: center;
}