---
import Navbar from "@components/Navbar.astro";
import PostList from "@components/PostList.astro";
import Prose from "@components/Prose.astro";
import { Icon } from "astro-icon/components";
import Tag from "@/components/Tag.astro";
import "@/styles/global.css";

const { frontmatter } = Astro.props;
const tags: string[] = frontmatter.tags;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <Navbar />
        <div
            class="container border-1 border-gray-200 p-5 rounded-lg mt-10 shadow-xl mx-auto"
        >
            <div class="flex">
                <Tag
                    text={new Date(frontmatter.pubDate).toLocaleDateString()}
                    colors="bg-gray-200 text-gray-800"
                />
                {
                    tags.map((tag: any) => (
                        <Tag
                            text={tag}
                            colors="bg-purple-100 text-purple-800"
                        />
                    ))
                }
            </div>
            <Prose>
                <slot />
            </Prose>
        </div>
    </body>
</html>
